/* GENERALES */

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 50px;
    text-align: center;
    border: 5px;
}

h2 {
    font-size: 30px;
    background-color: grey;
    border-radius: 5px;
}

h3 {
    font-size: 25px;
    background-color: rey;
    border-radius: 5px;
    background-color: darkgrey;
}

h3>p {
    font-size: 20px;
}

span {
    color: white;
    background-color: black;
    border-radius: 5px;
}

img {
    width: 50%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}


/* id */

#presentacion {
    width: 75%;
    height: 50%;
    display: flex;
}